    <a href="/book/<%=list.idProduct%>" class="group">
      <div class="grid grid-cols-2 gap-2">
      <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
        <img src="/images/<%=list.images%>" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-200 w-150 object-cover object-center group-hover:opacity-75">
      <h1 class="text-center">Giá của sản phẩm: <%=list.priceProduct%></h1>

      </div>
      <div>
        <h1 class="text-center">Tên của sản phẩm:<%=list.nameProduct%></h1>
      <p class="mt-1 text-center font-medium text-gray-900">Day la doan mo ta: <%=list.sortDescription%></p>

      </div>

    </div>
    </a>
